#!/bin/sh
set -e

echo "Starting package installation..."

{{- if eq .chezmoi.os "linux" }}
  {{- if (lookPath "pacman") }}
    chezmoi execute-template ".chezmoiscripts/install-arch.sh.tmpl" | sh
  {{- else if (lookPath "dnf") }}
    chezmoi execute-template ".chezmoiscripts/install-fedora.sh.tmpl" | sh
  {{- end }}
{{- else }}
  echo "Unsupported OS: {{ .chezmoi.os }}"
{{- end }}

echo "Package installation complete!"
